.photo-grid {
  max-width: 1184px;
  padding: 0 48px 92px;
}
@media screen and (max-width : 900px) {
    .photo-grid {
        padding: 0 24px 88px;
      }
}
@media screen and (max-width : 500px) {
    .photo-grid {
        padding: 0 16px 64px;
      }
}