.places {
  max-width: calc(100% - 148px*2);
  margin: 0 auto;
}
@media screen and (max-width: 1230px) {
    .places {
        max-width: calc(100% - 48px*2);
      }
}
@media screen and (max-width: 1012px) {
    .places {
        max-width: calc(100% - 24px*2);
      }
}
@media screen and (max-width: 500px) {
    .places {
        max-width: 100%;
      }
}
