.cover__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  z-index: 1;
}
@media screen and (max-width: 500px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
      }
}
