@media screen and (max-width : 900px) {
    .place__title-space_on {
        display: none;
      }
}
@media screen and (max-width : 630px) {
    .place__title-space_on {
        display: block;
        padding: 0;
      }
}