.place__paragraph {
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
@media screen and (max-width: 1012px) {
    .place__paragraph {
        padding-bottom: 25px;
        font-size: 16px;
      }
}
@media screen and (max-width: 760px) {
    .place__paragraph {
        padding-bottom: 16px;
        font-size: 14px;
      }
}
@media screen and (max-width: 500px) {
    .place__paragraph {
        padding-bottom: 25px;
        font-size: 16px;
      }
}

.place__paragraph:last-of-type {
  padding: 0;
}
