.cover {
  max-width: calc(100% - 48px*2);
  margin: 0 auto;
  padding-bottom: 92px;
}
@media screen and (max-width: 1230px) {
    .cover {
        max-width: 100%;
      }
}
@media screen and (max-width: 900px) {
    .cover {
        padding-bottom: 88px;
      }
}
@media screen and (max-width: 500px) {
    .cover {
        padding-bottom: 64px;
      }
}
